body{
  background-color: #bde2da;
}

#star_registration_label{
    color: red;
    display:inline;
}

#label_registration{
    margin-left: 50px;
    font-weight: bold;
}

.form-control{
    width:50%;
    margin-left: 50px;
}

#info_img{
    width: 25px;
    height: 25px;
    display:inline;
    margin: 5px
}

.tltip_id .tooltiptext {
    visibility: hidden;
    height: 35px;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

.tltip_id:hover .tooltiptext {
    visibility: visible;
  }

.tltip_dateOfBirth .tooltiptextDOB {
    visibility: hidden;
    height: 35px;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  .tltip_dateOfBirth:hover .tooltiptextDOB {
    visibility: visible;
  }


.input_with_info{
    width: 768px;
}

.warning{
    margin-left: 50px;
    font-style: italic;
    color: red;
}
