
table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #009999;
}

tr {
    text-align: center;
}

h1 {
    text-align: center;
}
