.notifications {
    border: 3px solid #4b4b4b;
    background-color: #b6a9a9;
    margin: 5px;
    float: right;
}
.notifications .notifyTitle {
    background-color: #4b4b4b;
    color: #c0c0c0;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.notificationBtn {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    margin: 5px;
}


.notificationBtn .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #0198fb;
    color: white;
}
