.notifications {
    border: 3px solid #4b4b4b;
    background-color: #b6a9a9;
    margin: 5px;
    float: right;
}
    .notifications .notifyTitle {
        background-color: #4b4b4b;
        color: #c0c0c0;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

div.card {
    margin: 10px;
    padding: 5px;
    background: #f2f2f2;
    width: 300px;
    transition: width 0.5s;
}

    div.card:hover {
        cursor: pointer;
    }