.responseInfo {
    position: fixed;
    color: white;
    left: 50%;
    right: 50%;
    margin-left: -8%;
    top: 200px;
    width: 100%;
}

#responseLoad {
    display: none;
    z-index: 99;
    position: fixed;
    padding-top: 50px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4)
}

.valid {
    display: none;
    font-size: 10px;
    color: red;
    font-weight: bold;
}